@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --bg: #eef9ff;
  --bg-soft: #dff4ff;
  --primary: #19b7c9;
  --primary-dark: #0ea5b7;
  --text: #16324a;
  --text-soft: #4b6b80;
  --border: #cfeaf6;
}
body {
  margin: 0;
  padding: 0;
}
button,
a,
[role="button"],
.cursor-pointer-target {
  cursor: pointer;
}
/* Scrollbar global CosLess */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(25, 183, 201, 0.65) transparent;
}

/* Chrome, Edge, Brave */
*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: rgba(25, 183, 201, 0.55);
  border-radius: 999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(25, 183, 201, 0.85);
  border: 2px solid transparent;
  background-clip: content-box;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}